<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet"  href="@Url.Content("~/Content/MyStyle.css")"/>
    @RenderSection("css", false)
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Hanter</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="popdown">
                            <a class="popdown-toggle" href="./LongList.html">Candidates</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add new</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Campaigns</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Fiels</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Settings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Pools</a></li>
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Rolse</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Activity<span class="badge">14</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
