<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/MyStyle.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/bower_components/bootstrap/dist/css/bootstrap.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/pool.css")" />

    @RenderSection("css", false)
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Hunter</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="menu">
                            <a  href="">Candidates<span class="caret"></span></a>
                            <ul class="submenu">
                                <li><a href="#/candidate/list">Show All</a></li>
                                <li><a href="#/candidate/edit">Add new</a></li>
                            </ul>

                        </li>
                        <li class="menu">
                            <a href="">Vacancies<span class="caret"></span></a>
                            <ul class="submenu">
                                <li><a href="#/vacancy/list">Show All</a></li>
                                <li><a href="#/vacancy/edit">Add new</a></li>
                            </ul>
                        </li>
                        <li><a href="#/statistics">Statistics</a></li>
                        <li><a href="#/files">Files</a></li>
                        <li class="menu">
                            <a href="">Settings<span class="caret"></span></a>
                            <ul class="submenu">
                                <li><a href="#/pool">Pools</a></li>
                                <li><a href="#/user">Users</a></li>
                                <li><a href="#/role">Roles</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/activity">Activity<span class="badge">5</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
